*{
    font-family: sans-serif;
}

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    background-color:#f9f9f9;
}

nav.scrolled {
    transition: 0.50s;
    background-color: #d0d0d0;
  }

#left-section{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 15rem;
    flex: 1;
}

.nav-buttons{
    background-color: transparent;
    border: none;
}

@media(max-width:770px){
    #left-section{
        display: none;
    }
}

.hero {
  display: flex;
  height: 100vh;
}

.left,
.center,
.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  background-color: #f0f0f0;
}

.right {
  background-color: #f8f8f8;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.center img {
  min-height: 20rem;
  width: 20rem;
  object-fit: cover;
  border: 5px solid white;
  border-radius: 50%;
  background-color: transparent;
}


.content {
  padding: 20px;
  max-width: 400px;
  text-align: center;
}

h1,
h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

p {
  font-size: 1.1em;
  color: #666;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #45a049;
}

.hero-img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 768px) {
  .hero {
      margin-top:5rem;
      flex-direction: column;
  }

  .center{
    display: none;
  }
}

section{
  padding: 1rem;
  border-radius: 0.4rem;
  scroll-margin-top: 170px;
  background: linear-gradient(to right bottom,rgba(230, 230, 230, 0.768),rgba(233, 233, 233, 0.694));
}

.button-48 {
    display: inline-block;
  appearance: none;
  background-color: transparent;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 0.8em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #dedede;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:active{
    transition: none;
    opacity: 0.6;
    background-color: #FFFFFF;
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
}

#title-and-slogan{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: transparent;
}

#title{
    font-size: 7vw;
    text-align: center;
}

#slogan{
    font-size: 2vw;
    text-align: center;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header h1 {
  text-align: center;
  color: #333;
}

.about, .mission, .dentists {
  margin-bottom: 40px;
}

.about h2, .mission h2, .dentists h3 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  
}

.about p, .mission p, .dentists p {
  line-height: 1.6;
  color: #666;
  text-align: center;
}

.dentists h2{
  text-align: center;
}

.dentist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.dentist img {
  height: 10rem;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 0.3rem;
}

.dentist h3 {
  font-size: 20px;
  color: #333;
}

@media (max-width: 768px) {
  .container {
      padding: 10px;
  }
}

#services {
    background-color: #f9f9f9;
    padding: 50px 0;
  }
  
  #services .container {
    text-align: center;
  }

  #services h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .service-item {
    width: 300px;
    margin: 0 20px 40px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .service-item img {
    width: 100%;
    border-radius: 5px;
  }
  
  .service-item h3 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 20px;
  }
  
  .service-item p {
    color: #666;
    line-height: 1.6;
  }
  

#contacts {
    background-color: #f9f9f9;
    padding: 50px 0;
  }
  
  #contacts .container {
    text-align: center;
    background-color: transparent;
  }
  
  #contacts h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
  }
  
  .contact-content {
    flex: 1;
  }
  
  .contact-content p {
    color: #666;
    line-height: 1.6;
  }
  
  .contact-details {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  
  .contact-item {
    flex: 1;
    max-width: 300px;
    margin: 0 20px;
    text-align: center;
  }
  
  .contact-item i {
    font-size: 24px;
    color: #007bff;
  }
  
  .contact-item p {
    color: #666;
    line-height: 1.6;
  }
  
  .social-media {
    margin-top: 20px;
  }
  
  .social-media h3 {
    color: #333;
  }
  
  .social-media a {
    margin: 0 10px;
    font-size: 24px;
    color: #007bff;
  }
  
  .social-media a:hover {
    color: #0056b3;
  }

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 20% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    position: relative;
  }
  
  .book-now-btn{
    background-color: #000000;
    transition: 0.35s;
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    color: white;
  }

  .book-now-btn:hover{
    background-color: #4a4a4a;
    color: white;
  }

  .book-now-btn:active{
    opacity: 0.4;
    transition: none;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .close:hover {
    color: #f00;
  }
  
  #book-now-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  #book-now-form input[type="text"],
  #book-now-form input[type="email"],
  #book-now-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #book-now-form textarea {
    height: 100px;
  }
  
  #book-now-form button[type="submit"] {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #book-now-form button[type="submit"]:hover {
    background-color: #4a4a4a;
  }